<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Game Shop</title>
</head>
<body>
    <header>
        <h1>Order Details:</h1>
    </header>
    <main>
        {% for order in orders %}
        <div>
            <p>
                {{order.customer_name}}: <b>{{order.game_title + ", quantity: " + order.quantity + ", age rating: " + order.age_rating}}</b>
            </p>
            <a href="{{ url_for('single_order', id=order.id) }}">View Order Details</a>
        </div>
        {% endfor %}
        </main>
</body>
</html>